button {
    font-size: 100px;
}
.editor{
    right: 1%;
    left: 1%;
    top: 2%;
    border: 1px solid #333;
}

.result {
    top: 72%;
    left: 28%;
    right: 2%;
    bottom: 2%;
    
    width: 71%;
    height: 26%;
    
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    resize: none;

    font-size: 30px;
    font-size: 3vh;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color:#fff;
}


.resultText {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    margin-left: 3%;
    font-size: 25px;
}

/* width: calc(100% - 300px);
display: block;
overflow-y: scroll;
overflow-x: hidden;
background-color:#fff; 
height: 250px;
margin-top: 30px; */